<%= render partial: "layouts/header" %>

<%= render partial: "layouts/search" %>

        <!-- 表 -->
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">店舗名</th>
                        <th scope="col">電話番号</th>
                        <th scope="col">所在地</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% @gyms.each do |gym| %>
                        <td><%= gym.name %></td>
                        <td><%= gym.phone %></td>
                        <td><%= gym.address %></td>
                        <td>
                            <form action="/gyms/:id" method="POST" class="form-inline">
                                <button type="submit" class="btn btn-secondary btn-sm">詳細</button>
                            </form>
                        </td>
                    </tr>                                
                      <% end %>
                </tbody>
            </table>
            <br/>
            <div class="row">
                <div class="mx-auto">
                    <div class="flex-column justify-content-center">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary" href="#p-=1" role="button">«</a>
                                <a class="btn btn-outline-primary" href="#p=1" role="button">1</a>
                                <a class="btn btn-outline-primary active" href="#p=2" role="button">2</a>
                                <a class="btn btn-outline-primary" href="#p=3" role="button">3</a>
                                <a class="btn btn-outline-primary" href="#p=4" role="button">4</a>
                                <a class="btn btn-outline-primary" href="#p=5" role="button">5</a>
                                <a class="btn btn-outline-primary" href="#p=6" role="button">6</a>
                                <a class="btn btn-outline-primary disabled" href="#" role="button">...</a>
                                <a class="btn btn-outline-primary" href="#p+=1" role="button">»</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- モーダルウィンドウ -->
        <div class="modal fade" id="sample1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">データの削除</h5>
                    </div>
                    <div class="modal-body">
                        <p>削除してよろしいですか？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <form action="./test1.html" method="POST" class="form-inline">
                            <button type="submit" class="btn btn-danger">削除</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="my-4 text-center">
            <p><a href="#" onClick="window.close();" class="btn btn-danger" role="button"><i class="fas fa-window-close fa-fw" aria-hidden="true"></i>閉じる</a></p>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>